.Info {
    background-color: rgb(23, 19, 29);
    color: white;
    height: 25%;
    padding: 5px;
    padding-right: 13px;
    border: solid black 1px;
    font-size: 10px;
    position: fixed;
    top: 80px;
    left: 0;
    width: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 1;

}

li {
background-color: rgb(23, 19, 29);
color: white;
height: 50px;
border: solid black 1px;
padding: 10px;
font-size: 50px;
position: fixed;
top: 0;
left: 0;
width: 100%;
z-index: 1;
display: flex;
justify-content: space-around;
align-items: center;
}

.letra {
text-align: center;
font-size: 15px;
border: solid black 1px;
padding-right: 27px;
position: fixed;
margin-top: 13%;
left: 1px;
background-color: rgb(23, 19, 29);
color: white;

}

body {
background-color: rgb(29, 26, 26);
}

.VideoA {
display: flex;
margin-left: 500px;
margin-top: 100px;
padding: 5px;
}